html{
	background-color: grey;
}

body{
	background-color: gray;
	font-family: cursive,fantasy,serif;
	

	


}
a{
	          display: block;
	          font-weight: bold;
	          background-color:white;
	          text-align: center;
	          border: white;
	          display: inline-block;
	          }
h3
{
	color: #000000;
	background-color: #808080;
}
.gome{
	background-color: #CACC90;
	
	line2px;
}