
html{
	background-color:grey;
}

body{

font-family: cursive,fantasy,serif;
	font-size: 50px;
	line-height: 62px;

}
hr{
	background-color: white;
}
h3{
	color: green;
}
a{
	          display: block;
	          font-weight: bold;
	          background-color:white;
	          text-align: center;
	          border: white;
	          display: inline-block;
	          



}
.gome{
	background-color: #CACC90;
}